

nav#main-navbar ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden; 
}

nav #navbar-container ul li{
	float: left;
	position: relative; 
    left: 50%;
	right: 50%;
	display: block
}

nav #navbar-container ul li a{
	text-decoration: none;
	float: left; 
	position: relative;
	display: block

	
}
	