

nav#main-navbar ul{
	display: block;
	left: 50%;                               
    right: 50%;
	list-style-type: none;
	overflow: hidden; 
}

nav #navbar-container ul li{
	float: left;
	margain: 
	text-decoration: none;
	



