nav#main-navbar ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 100%; 
	overflow: hidden; 
	background-color: blue;
}

nav #navbar-container ul li{
	float: left;
	position: relative; 
    left: 50%;
	right: 50%;
	display: block
}

nav #navbar-container ul li a{
	text-decoration: none;
	float: left; 
	position: relative;
	padding: 10px 20px;
	color: #fff;
	display: block	
}

nav #navbar-container ul li a:hover{ 
	background-color: #000;
	text-decoration: underline overline;
}

#sidebar ul{
	list-style-type: none;
	position: fixed;
	right: 0%;
	padding: 0;
	height: 100%;
	width: 20%	
}

#sidebar-container ul li{
	background-color:red;	
}

#sidebar-container ul li a{
	text-decoration: none;
	display: block;
	padding: 15px 0;
	text-align: center;
	color: #fff;
}

#sidebar-container ul li a:hover{
	background-color: #000;
}